.logo img
{
	font-family:'Roboto Slab', serif;
	margin:0;
	text-align:center;
	width:280px;
	height:70px;
	float:left;
}
.photo img {
  border-radius: 100%;
  padding-left:800px;
}
body{
  margin:0;
  padding:header-<length> 0 0 left-sidebar-<length>;
  background: #16032A 0% 0% no-repeat padding-box;
 }
 div#header{
  position:absolute;
  top:0;
  left:0;
  width:500%;
  height:header-<length>;
  background: #251942 0% 0% no-repeat padding-box;
 }

.menu {
  width: 50px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  margin-left:1250px;
  }
.menu1 {
  width: 40px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  margin-left:1270px;
 margin-right:170px;
 margin-top:10px;
}

h1 {
	color:#800080;
	font-size:20px;
}

div#left-sidebar{
  position:absolute;
  top:header-<length>;
  left:0;
  width:left-sidebar-<length>;
  height:100%;
  background: #251942;
 
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;


}
 @media screen{
  body>div#header{
   position:fixed;
  }
  body>div#left-sidebar{
   position:fixed;
  }
 }
 * html body{
  overflow:hidden;
 }
 .main {
  list-style-type: none;
  margin: 0;
  padding: 0;
overflow: hidden;
height:100%; 

}

.main li {
  float: right;
  display:inline-block;
  padding-right:140px;
  }

.main li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
}

.main li a:hover {
  background-color: #111;
}
.menu2 {
  width: 48px;
  height: 5px;
  background-color: #800080;
  margin: 6px 0;
  margin-right:1670px;
margin-left:340px;
 margin-top:10px;
}